#Skills ol,
#Hobbies ul {
  font-size: 18px;
  margin: 20px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 25px;
}
li {
  padding: 3px;
}

#Skills h2 {
  margin-left: 40px;
  color: orangered;
  font-size: 26px;
}

#Hobbies h2 {
  margin-left: 60px;
  color: orangered;
  font-size: 26px;
}

#container {
  /* border : 3px solid orangered; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 250px;
  /* border: 2px solid gray; */
  width: 1000px;
  /* flex-wrap: wrap; */
}

#next {
  
  font-weight: bold;
  font-style: italic;
}

#Hobbies {
  border: 2px solid white;
  margin: 10px;
  border-radius: 20px;
  padding: 20px 70px 0px 30px;
  background-color: whitesmoke;
  color: #333;
  width: 800px;

  /* background-image: linear-gradient(-225deg,  wheat, beige); */
}

#Skills {
    border: 2px solid white;
    margin: 20px;
    border-radius: 20px;
    padding: 20px 70px 0px 30px;
    background-color: whitesmoke;
    color: #333;
    width: 800px;
    /* background-image: linear-gradient(-225deg,  wheat, beige); */
}
h1{
    margin-left: 350px;
    margin-top: 100px;
    width: 800px;
    font-size: 40px;
}