.App {
  font-family: sans-serif;
  text-align: center;
  /* background: linear-gradient(90deg, #141E30 0%, #243B55 100%); */
  /* background-color: black ; */
  
}

/* .App::before {
  content: '';
  background: url(https://media.istockphoto.com/photos/empty-dark-blue-studio-room-with-light-and-shadow-abstract-background-picture-id1339787499?b=1&k=20&m=1339787499&s=170667a&w=0&h=psnH04yZpoVzxa4xTZt4hDwff5WiO0cQrtnYdRttkSI=) 
      no-repeat center center/cover;
  position: absolute;

  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* background-color: #333; */
/* } */ */



.link {
  margin: 10px;
}
.para {
  border: 1px solid red;
}
.intro {
  margin-top: 50px;
  /* border: 2px solid gray; */
  /* background-color: beige; */
  height: 200px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color: gold;
font-size: 30px;
line-height: 20px;
margin-right: 620px;
margin-top: 100px;
  
}


.my{
  display: flex;
  justify-content: center;
}

h2{
  color:white;
}
#details {
  
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  width: 50%;
  color: aliceblue;
  text-justify: newspaper;
  word-spacing: 4px;
  line-break: normal;
  line-height: 30px;
  padding: 50px 0px 50px 80px;
 font-weight: bold;
  height: 400px;
  margin-right: 650px;
  margin-top: 0px;  
  
}


